*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.teste{
    width: 250px;
    height: 250px;
    background-color: aquamarine;
    margin: 30px 30px;
    display: flex;
    align-items: center;
    text-align: center;
}

